/* MISC. */
*, input, textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	background: #fcfcf9;
	font-family: 'Duru Sans';
	font-size: 1.1rem;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}

code {
	background: rgba(255,255,255,.85);
	border: 1px solid #eee;
	border-radius: 3px;
	font-size: 1.35em; /* em, not rem */
	padding: 0 .33rem 1px;
	white-space: nowrap;
}

#content {
	padding-bottom: 3rem; /* footer height */
}
#content, header {
	margin: auto;
	width: 35rem;
} 

input, textarea {
	border: 0;
	outline: 0;
}

/* MISC. */

/* HEADER */

header {
	margin-top: 1rem;
}

header h1 {
	font-family: 'Chaparral pro';
	font-size: 2.5rem;
	margin-bottom: -1rem;
}
header h2 {
	color: #888;
	font-size: 0.85rem;
}

/* END HEADER */



/* ARTICLE */

article {
	margin-top: 2rem;
}
article:last-of-type {
	margin-bottom: 2rem;
}

article .description {
	border-left: .15rem solid #aaa;
	padding: .5rem 1rem;
}

article .note, article .type {
	color: #888;
	font-size: 0.85rem;
}
article .note {
	margin-top: 1rem;
}

article .tech {
	background: #aaa;
	color: #fff;
	padding-right: 1rem;
	text-align: right;
}

article .title {
	border-left: .15rem solid #aaa;
	border-radius: 0 2px 2px 0;
	padding: .5rem 1rem;

	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
article .title:hover, article .tech:hover + .title {
	background: #f2f3f5;
}
article .title a, article .title span {
	display: block;
}
article .title .link-title {
	font-size: 1.5rem;
}
article .title .subtitle {
	color: #888;
	font-size: 1rem;
	margin-top: .5rem;
}

/* fix by tech */
article.css .tech {
	background: #d45b43;
}
article.css .title, article.css .description {
	border-left: .15rem solid #d45b43;
}

article.php .tech {
	background: #8c8cc5;
}
article.php .title, article.php .description {
	border-left: .15rem solid #8c8cc5;
}
/* end fix by tech */

/* END ARTICLE */



/* #INPUT-LABEL */

#input-label {
	position: relative;

	height: 5.25rem; /* fix padding transition problem */
	overflow: hidden;
}

/* normal state */
#input-label input {
	border: .15rem solid #aaa;
	border-radius: 2px;
	display: block;
	font-size: 1.75rem;
	margin-top: 1rem;
	padding: 1rem 0.5rem;
	width: 100%;

	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
#input-label label {
	position: absolute;
	top: auto; right: 0; bottom: 0; left: 0;

	background: #aaa;
	border-radius: 2px;
	color: #fff;
	font-size: 0.85rem;
	height: 0;
	padding-left: 1rem;
	text-transform: uppercase;

	-moz-transition: 
		background 0.2s,
		padding 0.2s;
	-webkit-transition: 
		background 0.2s,
		padding 0.2s;
	transition: 
		background 0.2s,
		padding 0.2s;
}
/* end normal state */

/* when focused or valid
	:valid is when input is required & not empty
*/
#input-label input:focus, #input-label input:valid {
	border-color: #be9d58;
	padding-top: 0.4rem;
	padding-bottom: 1.6rem;
}

#input-label input:not(:focus):valid {
	border: .15rem solid #aaa;
	padding-top: 0.4rem;
	padding-bottom: 1.6rem;
}

#input-label input:focus + label, #input-label input:valid + label {
	background: #be9d58;
	padding-bottom: 1.2rem;
}

#input-label input:not(:focus):valid + label {
	background: #aaa;
}
/* end focused or valid */

/* END .INPUT LABEL */



/* LOADING SCREEN */
#loading-screen {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;

	background: #1a1a1a;

	-moz-transition: opacity .3s, z-index 0 .3s;
	-webkit-transition: opacity .3s, z-index 0 .3s;
	transition: opacity .3s, z-index 0 .3s;
}
#loading-screen.hidden {
	opacity: 0;

	z-index: -1;
}

#loading-screen .loader {
	position: fixed;
	top: 50%; right: 0; left: 0;
	
	box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;
	display: inline-block;
	margin: auto;
	margin-top: -.5rem;
	height: 1rem;
	width: 1rem;
	
	-moz-animation: dots 5s infinite ease-in-out;
	-webkit-animation: dots 5s infinite ease-in-out;
	animation: dots 5s infinite ease-in-out;
}

@-moz-keyframes dots {
	0% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	8.33% {box-shadow: #aaa 2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	16.67% {box-shadow: #aaa 2rem 2rem 0 1rem, #d45b43 2rem 2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	25% {box-shadow: #aaa -2rem 2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	33.33% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 -2rem -2rem 0 1rem;}
	41.67% {box-shadow: #aaa 2rem -2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	50% {box-shadow: #aaa 2rem 2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	58.33% {box-shadow: #aaa -2rem 2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	66.67% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 -2rem -2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	75% {box-shadow: #aaa 2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	83.33% {box-shadow: #aaa 2rem 2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 2rem 2rem 0 1rem;}
	91.67% {box-shadow: #aaa -2rem 2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	100% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
}
@-webkit-keyframes dots {
	0% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	8.33% {box-shadow: #aaa 2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	16.67% {box-shadow: #aaa 2rem 2rem 0 1rem, #d45b43 2rem 2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	25% {box-shadow: #aaa -2rem 2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	33.33% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 -2rem -2rem 0 1rem;}
	41.67% {box-shadow: #aaa 2rem -2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	50% {box-shadow: #aaa 2rem 2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	58.33% {box-shadow: #aaa -2rem 2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	66.67% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 -2rem -2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	75% {box-shadow: #aaa 2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	83.33% {box-shadow: #aaa 2rem 2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 2rem 2rem 0 1rem;}
	91.67% {box-shadow: #aaa -2rem 2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	100% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
}
@keyframes dots {
	0% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	8.33% {box-shadow: #aaa 2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	16.67% {box-shadow: #aaa 2rem 2rem 0 1rem, #d45b43 2rem 2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	25% {box-shadow: #aaa -2rem 2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	33.33% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 -2rem -2rem 0 1rem;}
	41.67% {box-shadow: #aaa 2rem -2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	50% {box-shadow: #aaa 2rem 2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	58.33% {box-shadow: #aaa -2rem 2rem 0 1rem, #d45b43 -2rem 2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	66.67% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 -2rem -2rem 0 1rem, #be9d58 -2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	75% {box-shadow: #aaa 2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem -2rem 0 1rem, #8c8cc5 2rem -2rem 0 1rem;}
	83.33% {box-shadow: #aaa 2rem 2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 2rem 2rem 0 1rem;}
	91.67% {box-shadow: #aaa -2rem 2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
	100% {box-shadow: #aaa -2rem -2rem 0 1rem, #d45b43 2rem -2rem 0 1rem, #be9d58 2rem 2rem 0 1rem, #8c8cc5 -2rem 2rem 0 1rem;}
}
/* END LOADING SCREEN */

/* FOOTER */
footer {
	position: fixed;
	top: auto; right: 0; bottom: 0; left: 0;

	background: #fcfcf9;
	border-top: 1px solid #aaa;
	color: #888;
	font-size: 0.85rem;
	margin: auto;
	padding: .5rem 0;
	width: 35rem;
}
/* END FOOTER */
